<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="css/all_include.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>


<div class="container">
    <div class="row mT75 mD60">
        <div class="col-lg-2 col-md-2">
        </div>
        <div class="col-lg-8 col-sm-12 col-md-8">
            <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
            <div class="myprogress">
                <div class="circle" progress="1">
                    <span class="label">1</span>
                    <span class="title">選服務</span>
                </div>
                <span class="bar"></span>
                <div class="circle" progress="2">
                    <span class="label">2</span>
                    <span class="title">填資料</span>
                </div>
                <span class="bar"></span>
                <div class="circle" progress="3">
                    <span class="label">3</span>
                    <span class="title">約時間</span>
                </div>
<!--
                <span class="bar"></span>
                <div class="circle" progress="4">
                    <span class="label">4</span>
                    <span class="title">確認</span>
                </div>
                <span class="bar"></span>
                <div class="circle" progress="5">
                    <span class="label">5</span>
                    <span class="title">完成</span>
                </div>
                -->
            </div>
            <div class="bookArea">

                <form id="bookForm" role="form">

                    <div id="firstStep" ng-if="progressService.progress == 1">
<!--
                        <div class="formGroup">
                            <label for="bedrooms" class="col-xs-12 col-sm-3 control-label">房間數量
                                <p style="font-size:12px;">★估時已包含客廳廚房等區域</p>
                            </label>
                            <div class="col-xs-12 col-sm-9">
                                <div class="w50">
                                    <div class="columns">
                                        <button class="stepper-button-down minusButton" data-direction="down"
                                           data-qa="large_rooms_minus"
                                           ng-disabled="data.rooms <= 0"
                                           ng-click="data.rooms = data.rooms - 1"></button>
                                        <div class="stepper-text">
                                            <input class="stepper field-large rooms" name="bedrooms" type="text"
                                                   value="1" id="bedrooms" readonly="true"
                                                    ng-model="data.rooms">
                                            <span data-tooltip="" title="">房間<span
                                                    class="stepper-tooltip"></span></span>
                                        </div>
                                        <button class="stepper-button-up plusButton" data-direction="up"
                                           data-qa="large_rooms_plus"
                                            ng-click="data.rooms = data.rooms + 1"></button>
                                    </div>
                                </div>
                                <div class="w50">
                                    <div class="columns">
                                        <button class="stepper-button-down minusButton" data-direction="down"
                                           data-qa="large_rooms_minus"
                                            ng-disabled="data.bathRooms <= 0"
                                           ng-click="data.bathRooms = data.bathRooms - 1"></button>
                                        <div class="stepper-text">
                                            <input class="stepper field-large rooms" name="bathrooms" type="text"
                                                   value="1" id="bathrooms" readonly="true"
                                                ng-model="data.bathRooms">
                                            <span data-tooltip="" title="">衛浴<span
                                                    class="stepper-tooltip"></span></span>
                                        </div>
                                        <button class="stepper-button-up plusButton" data-direction="up"
                                           data-qa="large_rooms_plus"
                                           ng-click="data.bathRooms = data.bathRooms + 1"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="formGroup">
                            <label for="bedrooms" class="col-xs-12 col-sm-3 control-label">加時服務</label>
                            <div class="col-sm-9">
                                <div class="extras" ng-repeat="extra in data.extras"
                                    ng-click="extra.selected = !extra.selected">
                                    <div data-toggle="tooltip" data-placement="top" title=""
                                         data-original-title="+1 hour">
                                        <div>{{extra.name}}</div>
                                        <img icon="1" ng-src="{{extra.selected ? 'http://www.jackercleaning.com/Assets/img/check.png' : extra.img}}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="formGroup">
                            <label class="col-sm-3 col-xs-12 control-label">有無寵物</label>
                            <div class="col-sm-9 col-xs-12 padding0">
                                <div class="clear">
                                    <label class="checkbox-inline" for="cats">
                                        <input type="checkbox" class="pets" id="cats" name="pets[]" value="貓">
                                        貓
                                    </label>
                                    <label class="checkbox-inline" for="dogs">
                                        <input type="checkbox" class="pets" id="dogs" name="pets[]" value="狗">
                                        狗
                                    </label>
                                    <label class="checkbox-inline" for="pets">
                                        <input type="checkbox" class="pets" id="pets" name="pets[]" value="其他">
                                        其他
                                    </label>
                                </div>
                            </div>
                        </div>
-->
                        <div class="formGroup">
                            <label class="col-sm-4 col-xs-12 control-label">需要提供的服務</label>
                            <div class="col-sm-8 col-xs-12">
                                <div>
                                    <select name="size" id="size" class="formControl"
                                        ng-options="option.val for option in data.services"
                                        ng-model="data.servicesSelected">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="formGroup">
                            <label for="consultation" class="col-sm-4 col-xs-12 control-label">您希望諮詢什麼服務？</label>
                            <div class="col-sm-8 col-xs-12">
                                <input type="text" class="formControl" name="consultation" id="consultation"
                                       placeholder="例如詢價、套裝方案或其他客服問題">
                            </div>
                        </div>
                        <div class="formGroup">
                            <label for="brand" class="col-sm-4 col-xs-12 control-label">最喜歡的品牌是什麼？</label>
                            <div class="col-sm-8 col-xs-12">
                                <input type="text" class="formControl" name="brand" id="brand">
                            </div>
                        </div>
                        <div class="formGroup">
                            <label for="cake" class="col-sm-4 col-xs-12 control-label">選擇哪一家品牌的喜餅？</label>
                            <div class="col-sm-8 col-xs-12">
                                <input type="text" class="formControl" name="cake" id="cake">
                            </div>
                        </div>
                        <div class="formGroup">
                            <label for="color" class="col-sm-4 col-xs-12 control-label">喜歡什麼顏色的禮服？</label>
                            <div class="col-sm-8 col-xs-12">
                                <input type="text" class="formControl" name="color" id="color">
                            </div>
                        </div>
                        <div class="formGroup">
                            <label class="col-sm-4 col-xs-12 control-label">什麼地方知道我們的訊息？</label>
                            <div class="col-sm-8 col-xs-12">
                                <div>
                                    <select name="size" id="size" class="formControl"
                                        ng-options="option.val for option in data.sources"
                                        ng-model="data.sourcesSelected">
                                    </select>
                                </div>
                            </div>
                        </div>
<!--                                                
                        <div class="formGroup">
                            <label class="col-sm-3 col-xs-12 control-label">樓中樓</label>
                            <div class="col-sm-9 col-xs-12">
                                <div class="clear">
                                    <label class="radio-inline" for="entresolNo">
                                        <input type="radio" id="entresolNo" name="entresol" value="0" checked="checked">
                                        否
                                    </label>
                                    <label class="radio-inline" for="entresolYes">
                                        <input type="radio" id="entresolYes" name="entresol" value="1">
                                        是
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="formGroup">
                            <label class="col-sm-3 col-xs-12 control-label">清潔用品</label>
                            <div class="col-sm-9 col-xs-12 ">
                                <label class="radio-inline" for="cleanersYes">
                                    <input type="radio" class="serviceContent" id="cleanersYes"
                                           value="1" checked="checked" ng-model="data.tools">
                                    提供清潔劑及用具（酌收 NT$100）
                                </label>
                                <label class="radio-inline" for="cleanersNo">
                                    <input type="radio" class="serviceContent" id="cleanersNo"
                                           value="0" ng-model="data.tools">
                                    我會自己提供
                                </label>
                            </div>
                        </div>
-->
                        <hr style="margin: 10px 0;">
                        <div class="formGroup text-center">
                            <a type="button" class="btn btnOrange btnNormal" id="firstStepBtn" ng-click="progressService.progress = 2">下一步</a>
                        </div>
                    </div>

                    <div id="sndStep" ng-if="progressService.progress == 2">
<!--                        
                        <div class="formGroup">
                            <label for="address" class="col-sm-2 col-xs-12 control-label">打掃地址</label>
                            <div id="twzipcode" class="col-sm-10 col-xs-12" style="display: inline-block;">
                                <div id="zipcode" data-role="zipcode" data-style="formControl addressZipcode"
                                      data-value=""><input type="text" name="zipcode" readonly="true"
                                                                             class="formControl addressZipcode" ng-model="data.address.districtSelected.postal"></div>
                                <div data-role="county" data-style="formControl addressCounty"><select name="county"
                                                                                                       class="formControl addressCounty" readonly="true">
                                    <option value="台北市">台北市</option>
                                </select></div>
                                <div data-role="district" data-style="formControl addressDistrict">
                                    <select name="district" class="formControl addressDistrict"
                                            ng-model="data.address.districtSelected"
                                            ng-options="option.name for option in data.address.district">
                                    </select>
                                </div>
                                <input name="address" type="text" class="formControl address" id="address"
                                       placeholder="請填上正確的地址" value="" ng-model="data.address.road">
                                <input name="regionAvailable" type="hidden" value="true">
                                <input name="black" type="hidden" value="false">
                                <p class="errorMsg" data-target="zipcode">請選擇正確的行政區域</p>
                                <p class="errorMsg" data-target="address">請填上正確的地址</p>
                            </div>
                        </div>
-->
                        <div class="formGroup">
                            <label for="name" class="col-sm-2 col-xs-12 control-label">姓名</label>
                            <div class="col-sm-10 col-xs-12">
                                <input type="text" class="formControl" name="name" id="name"
                                       placeholder="請輸入您的名稱，如:陳美莉小姐">
                                <p class="errorMsg" data-target="name">請填上正確的姓名</p>
                            </div>
                        </div>
                        <div class="formGroup" style="display: inline-block;">
                            <label for="phone" class="col-sm-2 col-xs-12 control-label">聯絡手機</label>
                            <div class="col-sm-10 col-xs-12">
                                <input type="text" class="formControl" name="phone" id="phone"
                                       placeholder="請輸入正確的手機，如:0912345678" >
                                <p class="errorMsg" data-target="phone">請正確填寫您的聯絡手機</p>
                                <p class="errorMsg" data-target="phoneFormat">聯絡手機的格式錯誤 例:0912345678</p>
                            </div>
                        </div>
                        <div class="formGroup">
                            <label for="email" class="col-sm-2 col-xs-12 control-label">電子信箱</label>
                            <div class="col-sm-10 col-xs-12">
                                <input type="email" name="email" class="formControl" id="email"
                                       placeholder="請輸入email，如:example@gmail.com" >
                                <p class="errorMsg" data-target="email">請填上正確的電子郵件信箱。</p>
                            </div>
                        </div>
                        <div class="formGroup text-center">
                            <div class="flexInlin">
                                <a class="btn btnOrange btnNormal pull-left mR5" id="preSndStepBtn" ng-click="progressService.progress=1">上一步</a>
                                <a class="btn btnOrange btnNormal pull-left" id="sndStepBtn" ng-click="progressService.progress=3">下一步</a>
                            </div>
                        </div>
                    </div>

                    <div id="thirdStep" ng-if="progressService.progress == 3">
                        <div id="appointArea" class="clear" style="display:none">
                            <input type="radio" name="appointCleaner" value="0" class="css-checkbox" checked="">
                        </div>
                        <div class="clear">
                            <ul class="calandarColorArea">
                                <li class="disable">
                                    <div></div>
                                    　可以預約
                                </li>
                                <li class="able">
                                    <div></div>
                                    　無法預約
                                </li>
                            </ul>
                        </div>
                        <div class="row clear">
                            <div id="bookCalendar" calendar calendar-selected="data.calendarSelected">
                            </div>
                        </div>

                        <h5 class="clear">可預定時間</h5>
                        <div id="avalibaleDay">
                            <a class="btn timeSelect" ng-repeat="time in data.timeSlots" ng-class="{
                                'btnTime': data.timeSlotSelected !== time,
                                'btnSelectedTime': data.timeSlotSelected === time
                            }" href="javascript:" ng-click="data.timeSlotSelected = time">
                                {{time.text}}
                            </a>
                        </div>

                        <div class="mT20 text-center">
                            <div class="flexInlin">
                                <a class=" btn btnOrange btnNormal mR5 pull-left" id="preThirdStepBtn" ng-click="progressService.progress=2">上一步</a>
                                <input type="submit" class="btn btnOrange btnNormal pull-left" value="確認送出" ng-click="submit()">
                            </div>
                        </div>
                    </div>

<!--
                    <div id="fourStep" ng-if="progressService.progress == 4">
                        <div class="confirmOrder clear">
                            <div class="orderBaseInfo">
                                <h5 class="bookTitle">訂單個人資訊</h5>
                                <div class="confirmAddress"><span id="confirmCounty"></span><span
                                        id="confirmDistrict"></span><span id="confirmAddress">
                                    {{data.address.districtSelected.postal}}
                                    {{data.address.city}}
                                    {{data.address.districtSelected.name}}
                                    {{data.address.road}}
                                </span></div>
                                <div class="confirmDetail"><span id="confirmName">{{data.name}}</span></div>
                                <div class="confirmDetail"><span id="confirmPhone">{{data.phone}}</span></div>
                                <div class="confirmDetail"><span id="confirmEmail">{{data.email}}</span></div>
                            </div>
                            <div class="orderFeeInfo">
                                <h5 class="bookTitle">預約時間及費用</h5>
                                <div class="confirmDetail"><span id="confirmSelectDate"></span> <span
                                        id="confirmSelectTime" ng-if="data.timeSlotSelected && data.calendarSelected">
                                    {{data.calendarSelected.format('YYYY MMMM Do')}}
                                    {{data.timeSlotSelected.text}}
                                </span></div>

                                <div class="confirmDetail">清潔時數：<span id="confirmHour">{{data.hours()}}</span> 小時</div>
                                <div class="confirmDetail">費用總計：<span id="confirmFee">{{data.total()}}</span> 元</div>
                            </div>
                            <div class="clear">
                                <div class="orderPsArea w50">
                                    <textarea name="ps" class="formTextarea height" placeholder="您要告訴清潔人員的話..."
                                              style=""></textarea>
                                </div>
                                <div class="orderPsArea w50" id="cuponArea">
                                    <p>輸入優惠卷代碼(若無可省略)</p>
                                    <div class="col-sm-9 mD10" style="padding-left: 0;"><input type="text"
                                                                                               placeholder="請輸入優惠碼"
                                                                                               class="formControl"
                                                                                               name="cuponCode"
                                                                                               value=""></div>
                                    <div id="checkCupon" class="col-sm-3 p0"><a href="#" class="btn-block btn btnBlue">使用</a>
                                    </div>
                                    <div id="cancelCupon" class="col-sm-3 p0" style="display:none;"><a href="#"
                                                                                                       class="btn btnBlue btn-block">取消</a>
                                    </div>
                                    <div class="clear">
                                        <p id="cuponMsg" class=" bg-danger text-center" style="display:none;"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="payment">
                            <p class="warmWord">★付款完成後系統半小時內將寄發確認信至您的信箱，同時會告知當天服務人員資料，請您放心。</p>
                            <div class="eachpayment">
                                <input type="radio" name="member_payment" id="radio1" value="CREDIT" checked="checked">
                                <label for="radio1" class="payRadio">
                                    <p class="paymentType">線上刷卡</p>
                                    <span class="radioRemind">(可接受VISA, Master Card, JCB , 銀聯卡)</span>
                                </label>
                            </div>
                            <div class="eachpayment">
                                <input type="radio" name="member_payment" id="radio3" value="WEBATM">
                                <label for="radio3" class="payRadio">
                                    <p class="paymentType">線上ATM轉帳</p>
                                    <span class="radioRemind">(需有讀卡機，部分銀行只支援Windows系統)</span>
                                </label>
                            </div>
                            <div class="eachpayment delayPay">
                                <input type="radio" name="member_payment" id="radio2" value="VACC">
                                <label for="radio2" class="payRadio">
                                    <p class="paymentType">實體ATM轉帳</p>
                                    <span class="radioRemind">(請於一天內轉帳，訂單只保留一天)</span>
                                </label>
                            </div>
                            <div class="eachpayment delayPay">
                                <input type="radio" name="member_payment" id="radio5" value="CVS" class="">
                                <label for="radio5" class="payRadio">
                                    <p class="paymentType">超商代碼繳費</p>
                                    <span class="radioRemind">(請於1天內至四大超商輸入代碼繳費，訂單只保留一天)</span>
                                </label>
                            </div>
                        </div>
                        <p id="errReaded" class="bg-danger pAll10 text-center" style="display:none">
                            請閱讀並勾選確認服務條款、隱私權政策及損害賠償內容</p>

                        <div class="formGroup text-center">
                            <div class="flexInlin">
                                <a class="btn btnOrange btnNormal mR5 pull-left" id="preFourStepBtn" ng-click="progressService.progress=3">上一步</a>
                                <input type="submit" class="btn btnOrange btnNormal pull-left" value="確認送出" ng-click="submit()">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="calendarYear" value="2015" id="calendarYear">
                    <input type="hidden" name="calendarMonth" value="12" id="calendarMonth">
                    <input type="hidden" name="type" value="regular">
                    <input type="hidden" name="hour" id="hour" value="3">
                    <input type="hidden" name="fee" id="fee" value="1300">
                    <input type="hidden" name="discounted" id="discounted">
                    <input type="hidden" name="cupon" id="cupon">
                    <input type="hidden" name="minus_point" id="minusPoint">
                    <input type="hidden" name="nowStep" id="nowStep" value="1">
                </form>
            </div>
        </div>
-->

<!--
        <div class="col-lg-4 hidden-sm col-md-4 hidden-xs">
            <div class="feeBorderArea">
                <div class="feeArea">
                    <div class="col-md-12" style="padding:0;">
                        <h3 class="homeTitle lineTitle text-center">居家清潔</h3>
                    </div>
                    <h4>服務內容</h4>
                    <div ng-if="calendarSelected !== null">
                        {{data.calendarSelected.format('YYYY MMMM Do')}}
                    </div>
                    <div class="confirmBBArea">
                        <span id="confirmBedNum" ng-bind="data.rooms">1</span> 房
                        <span id="confirmBathNum" ng-bind="data.bathRooms">1</span> 衛浴
                        ，公共區域（ex:廚房，餐廳，客廳）
                    </div>
                    <div class="additionalService clear">
                        <div class="additionalTitle">附加服務：</div>
                        <div class="selectedAdService" id="confirmLaundry" style="display: none;"><img
                                src="http://www.jackercleaning.com/Assets/img/icon1.png"><span>衣物清洗、曬</span></div>
                        <div class="selectedAdService" id="confirmWindows" style="display: none;"><img
                                src="http://www.jackercleaning.com/Assets/img/icon2.png"><span>窗戶內部清潔</span></div>
                        <div class="selectedAdService" id="confirmBalcony" style="display: none;"><img
                                src="http://www.jackercleaning.com/Assets/img/icon3.png"><span>陽台清理</span></div>
                    </div>
                    <h4>消費金額</h4>
                    <div class="eachFeeArea">
                        <div class="col-md-8">
                        <span class="realHourArea"><span id="realCleanerNum"></span><span
                                id="realHour">
                            {{ data.hours() }}
                        </span> 小時
                        <span>X</span>
                        <span class="hourlyFee">${{data.RATE}}</span>/hr

                    </span></div>

                        <div class="col-md-4"><h5><span>NT$</span> <span id="subtotal">{{data.subtotal()}}</span></h5><h5></h5></div>

                    </div>
                    <p class="col-md-12 newYearColor newYearFeeInfo" style="display:none">1/1~2/5 過年期間　500元/時</p>
                    <div class="eachFeeArea" id="cleanersFeeArea" ng-if="data.tools==1">

                        <div class="col-md-8">
                            <span class="realHourArea">+ 清潔用品</span>

                        </div>

                        <div class="col-md-4"><h5><span>NT$</span> <span>100</span></h5><h5></h5></div>

                    </div>
                    <div class="eachFeeArea" id="cuponMinusFeeArea">
                        <div class="col-md-8">
                            <span class="realHourArea">- 優惠卷</span>

                        </div>

                        <div class="col-md-4"><h5><span>NT$-</span> <span id="subMinusFee">0</span></h5><h5></h5></div>

                    </div>
                    <div class="totalPriceArea">
                        <div class="col-md-8">
                            <h4>總計</h4>
                        </div>
                        <div class="col-md-4"><h5 class="pull-right"><span>NT$</span><span id="total">{{data.total()}}</span></h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
-->
    </div>
</div>

<script src="bower_components/moment/min/moment-with-locales.min.js"></script>
<script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="bower_components/sweetalert/dist/sweetalert.css">

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="view1/view1.js"></script>
<script src="view2/view2.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<script src="components/progress.js"></script>
<script src="services/dataService.js"></script>
<script src="components/calendar.js"></script>
</body>
</html>
